<div class="container">
    <div class="card" class="col-md-9 offset-md-1" style="background-color: #E1ECF9;">
        <div class="col-md-10 offset-md-1"><br>
            <h4>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                </svg>&nbsp;
                สร้างหอพักของท่าน</h4><br>
            <form [formGroup]="createdormForm" accept-charset="UTF-8" autocomplete="off">
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">
                                <h6>ชื่อหอพัก</h6>
                            </label>
                            <input class="form-control" placeholder="" formControlName="dorm_name" type="text"
                                required />
                            <div *ngIf="form.dorm_name.invalid && (form.dorm_name.dirty || form.dorm_name.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.dorm_name.errors.required">
                                    กรุณากรอกชื่อหอพัก
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">
                                <h6>ที่อยู่</h6>
                            </label>
                            <input class="form-control" placeholder="" formControlName="dorm_address" type="text"
                                required />
                            <div *ngIf="form.dorm_address.invalid && (form.dorm_address.dirty || form.dorm_address.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.dorm_address.errors.required">
                                    กรุณากรอกที่อยู่
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">
                                <h6>ชื่อธนาคาร</h6>
                            </label>
                            <input class="form-control" placeholder="" formControlName="dorm_namebank" type="text"
                                required />
                            <div *ngIf="form.dorm_namebank.invalid && (form.dorm_namebank.dirty || form.dorm_namebank.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.dorm_namebank.errors.required">
                                    กรุณากรอกรหัสผ่าน
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">
                                <h6>เลขบัญชีธนาคาร</h6>
                            </label>
                            <input class="form-control" placeholder="" formControlName="dorm_numbank" type="text"
                                required />
                            <div *ngIf="form.dorm_numbank.invalid && (form.dorm_numbank.dirty || form.dorm_numbank.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.dorm_numbank.errors.required">
                                    กรุณากรอกเลขบัญชีธนาคาร
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="dorm_img">เพิ่มรูปภาพ</label>
                        <div class="form-group col-md-12">
                            <input type="file" class="custom-file-input" id="dorm_img" (change)="uploadImage($event)"
                                required>
                            <label class="custom-file-label" for="validatedCustomFile">{{fileNameShow}}</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div><br>

                    <div class="text-center">
                        <button class="btn btn-lg btn-success" (click)="submitForm()">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตกลง&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-lg btn-danger" (click)="resetForm()">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </div>
                </fieldset><br>
            </form>
        </div>
    </div>
</div>