<div class="container">
    <div class="card" class="col-md-10 offset-md-1">
        <div class="card col-md-10 offset-md-1"><br>
            <h4>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                </svg>&nbsp;
                สร้างหอพักของท่าน</h4><br>
            <form class="was-validated" [formGroup]="createdormForm" accept-charset="UTF-8" autocomplete="off">
                <fieldset>
                    <div class="col-md-10 offset-md-1">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>ชื่อหอพัก</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_name" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>ที่อยู่</h6>
                                </label>
                                <textarea class="form-control" placeholder="" formControlName="dorm_address" type="text"
                                    required></textarea>
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ชื่อธนาคาร</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_namebank" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>เลขบัญชีธนาคาร</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_numbank" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>ประเภท</h6>
                                </label>
                                <select class="form-control" id="exampleFormControlSelect2" formControlName="type_id">
                                    <option value="1">หอพัก</option>
                                    <option value="2">อพาร์ทเมนท์</option>
                                </select>
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าน้ำ</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_waterbill" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าไฟ</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_electricbill"
                                    type="text" required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>สถานะ</h6>
                                </label>
                                <select class="form-control" id="exampleFormControlSelect2"
                                    formControlName="dorm_status">
                                    <option>รายเดือน</option>
                                    <option>รายวัน</option>
                                    <option>รายเดือน-รายวัน</option>
                                </select>
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าห้อง(รายวัน)</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_pricedate_start"
                                    type="number" min="0" required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าห้อง(รายวัน)</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_pricedate_end"
                                    type="number" min="0" required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าห้อง(รายเดือน)</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_pricemonth_start"
                                    type="number" min="0" required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ค่าห้อง(รายเดือน)</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="dorm_pricemonth_end"
                                    type="number" min="0" required />
                                <div class="invalid-feedback">กรุณากรอกชื่อหอพัก</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <label for="dorm_img">เพิ่มรูปภาพ</label>
                            <div class="form-group col-md-12">
                                <input type="file" class="custom-file-input" id="dorm_img"
                                    (change)="uploadImage($event)" required>
                                <label class="custom-file-label" for="validatedCustomFile">{{fileNameShow}}</label>
                                <div class="invalid-feedback">กรุณากรอกเพิ่มรูปภาพหอพัก</div>
                            </div>
                        </div><br>

                        <div class="text-center">
                            <button class="btn btn-lg btn-danger" (click)="resetForm()">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-lg btn-success" (click)="submitForm()">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถัดไป&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                </fieldset><br>
            </form>
        </div><br>
    </div>
</div>