<div class="container">
    <div *ngFor="let data of memberList">
        <div style="text-align:center">
            <h4>ข้อมูลการจอง</h4>
        </div><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">จำนวนผู้ที่พัก</th>
                        <th scope="col">ราคาห้อง</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{data.mem_add}}</th>
                        <th scope="row">{{data.room_price}}</th>
                        <button type="button" class="btn btn-secondary  btn-lg btn-block"
                            (click)="onSelect(data)">go</button>
                    </tr>
                </tbody>
            </table>
    </div>
</div>