<div class="container">
    <table class="table table-hover">
        <thead class="thead" style="background-color: #E1ECF9;">
            <tr>
                <th scope="col">จำนวนผู้ที่พัก</th>
                <th scope="col">ราคาห้อง</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of memberList">
                <td>{{data.mem_add}}</td>
                <td>{{data.room_price}}</td>
                <td><button type="button" class="btn btn-outline-warning" (click)="onShow(data)">ดูข้อมูล</button></td>
            </tr>
        </tbody>
    </table>
</div>