<div class="container">
    <div class="form-row">
        <div class="form-group col-md-4 offset-md-4">
            <input class="form-control form-control-lg" type="text" placeholder="ค้นหาหอพัก" [(ngModel)]="term">
        </div>
      </div>
    <div class="card" style="background-color: #E1ECF9;">
        <div class="text-center col-md-10 offset-md-1"><br>
            <h4 class="text-center">ข้อมูลหอพัก</h4>
            <div class="row">
                <div *ngFor="let data of dormList | filter:term  let i = index" class="col-xl-4"><br>
                    <div class="card" style="width: 18rem;">
                        <img src="{{API_URL_IMG + data.dorm_img}}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">ชื่อหอพัก : {{data.dorm_name}}</p>
                            <p class="card-text">ที่อยู่ : {{data.dorm_address}}</p>
                            <p class="card-text">ชื่อธนาคาร : {{data.dorm_namebank}}</p>
                            <p class="card-text">เลขบัญชีธนาคาร : {{data.dorm_numbank}}</p>
                            
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div><br>