<div class="container">
    <div style="text-align:center">
        <div class="bg-light">
            <!-- <article class="card-body mx-auto" style="max-width: 900px;" *ngFor="let data of roomList"> -->
                <img src="\assets\image\2.jpg" name="aboutme" class="widthimage">
                <p></p>
                
                <h5 class="card-title">Name: {{roomList.room_num}}</h5>

                <button type="button" class="btn btn-secondary  btn-lg btn-block"  (click)="onSelect(roomList)">จอง</button>
            <!-- </article> -->
        </div>
    </div>
</div>