<nav *ngIf="userType === 'home'" class="navbar navbar-expand-lg navbar-light bg-secondary bottom-2">
  <a class="navbar-brand" routerLink="/home">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/register">Register<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="userType === 'admin'" class="navbar navbar-expand-lg navbar-light bg-secondary bottom-2">
  <a class="navbar-brand" routerLink="/admin">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="admin">หน้าแรก<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="admin/search">ค้นหา<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="admin/manage">จัดการข้อมูลหอพัก<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
   
</nav>

<nav *ngIf="userType === 'user'" class="navbar navbar-expand-lg navbar-light bg-secondary bottom-2">
  <a class="navbar-brand" routerLink="/user">USER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="user">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="user/search">search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="user/reserInformation">ReserInformation<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <a class="nav-link" routerLink="user/profile">Profile<span class="sr-only">(current)</span></a>
  </ul>
</nav>

<nav *ngIf="userType === 'dorm'" class="navbar navbar-expand-lg navbar-light bg-secondary bottom-2">
  <a class="navbar-brand" routerLink="/dorm">DORM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dorm">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="dorm/mange">Manage<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="dorm/checkPayment">Check Payment<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <a class="nav-link" routerLink="dorm/profile">Profile<span class="sr-only">(current)</span></a>
  </ul>
</nav>

<router-outlet></router-outlet>