<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
	<p><br>
		<h3 class="text-center">จัดการข้อมูลหอพัก</h3><br><br>
	<div class="card" style="background-color: #E1ECF9;">
		<div style="text-align:center">
			<article class="card-body mx-auto" style="max-width: auto ;">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<img src="\assets\image\up.png" class="widthimage" alt="..."><p></p>
								<a routerLink='/dorm/selectRoomUpdate' class="btn btn-lg btn-primary" style="background-color: #236AB9;">อัพเดทข้อมูลห้อง</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<img src="\assets\image\home1.png" class="widthimage" alt="..."><p></p>
								<a routerLink='/dorm/addRoom' class="btn btn-lg btn-primary" style="background-color: #236AB9;">เพิ่มห้อง</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>