<div class="container">

    <!-- <a href="#" class="float " routerLink="/dorm/createDorm">
        <p class="my-float">สร้างหอพัก</p>
    </a> -->

    <h4 class="text-center">{{dormData.dorm_name}}</h4>
    <div *ngFor="let data of roomList" class="col-xl-12"><br>
        <div class="card mb-1" style="max-width: 2000px;">
            <div class="row no-gutters">
                <div class="card-body" style="max-width: 330px;">
                    <img src="{{API_URL_IMG + data.room_img}}" class="card-img-top">
                </div>
                <div class="form-row col-md-8">
                    <div class="form-group col-md-7 offset-md-1"><br><br>
                        <h4 class="card-title" style="color: #0057b9;">ห้อง {{data.room_num}}</h4>
                        <p class="card-text">ราคา : {{data.room_price}} บาท</p>
                        <p class="card-text">สถานะ : {{data.room_status}}</p>
                    </div>
                    <div class="form-group col-md-3 offset-md-1"><br><br><br><br><br><br><br>
                        <button class="btn btn-lg btn-primary" style="background-color: #236AB9;" (click)="onEdit(data)">แก้ไขข้อมูลห้อง</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>