<div class="container">
    <div class="row col-xl-12">
        <div class="card col-md-8">
            <div class="col-md-12">
                <form class="was-validated" [formGroup]="userShow" accept-charset="UTF-8" autocomplete="off">
                    <fieldset><br>
                        <h4 class="card-header bg-card">ข้อมูลผู้จอง</h4><br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>ชื่อ</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="first_name" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกชื่อ</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>นามสกุล</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="last_name" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกนามสกุล</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>อีเมล์</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="email" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกอีเมล์</div>
                                <div class="valid-feedback">เราจะส่งข้อมูลยืนยันการจองห้องพักไปให้ทางอีเมล์นี้</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>เลขบัตรประจำตัวประชาชน</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="citizen" type="text"
                                    required />
                                <div class="invalid-feedback">กรุณากรอกเลขบัตรประจำตัวประชาชน</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>เบอร์โทรศัพท์</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="tel" type="text" required />
                                <div class="invalid-feedback">กรุณากรอกเบอร์โทรศัพท์</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>วันที่เข้าพัก</h6>
                                </label>
                                <input type="date" class="form-control" formControlName="date_of_stay" required>
                                <div class="invalid-feedback">กรุณาเลือกวันที่จะเข้าพัก</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">
                                    <h6>จำนวนผู้เข้าพัก</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="mem_guest" type="number"
                                    max="3" min="1" required />
                                <div class="invalid-feedback">กรุณาระบุจำนวนผู้เข้าพัก</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">
                                    <h6>ค่ามัดจำ(บาท)</h6>
                                </label>
                                <input class="form-control" placeholder="" formControlName="room_price" type="number"
                                    min="1" required disabled />
                                <div class="invalid-feedback">กรุณาอัปโหลดหลักฐาน</div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="alert alert-warning" role="alert">
                                    <h4 class="alert-heading text-mem">ค่ามัดจำ</h4>
                                    <p class="text-mem">ท่านจะต้องจ่ายค่ามัดจำ 30% ของราคาห้องพัก</p>
                                    <hr>
                                    <p class="mb-0 text-mem">เป็นเงื่อนไขที่ทางหอพักได้กำหนดไว้</p>
                                </div>
                            </div>
                        </div><br>

                        <h4 class="card-header bg-card">ช่องการชำระเงิน(ค่ามัดจำห้องพัก)</h4><br>
                        <div class="form-row">

                            <table class="table table-bordered">
                                <thead class="text-ta bg-ta">
                                    <tr>
                                        <th scope="col">ชื่อหอพัก</th>
                                        <th scope="col">ชื่อธนาคาร</th>
                                        <th scope="col">เลขบัญชีธนาคาร</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{bankList.dorm_name}}</th>
                                        <td>{{bankList.dorm_namebank}}</td>
                                        <td>{{bankList.dorm_numbank}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group col-md-12">
                                <label for="mem_img">อัปโหลดหลักฐานการโอนเงิน</label>
                                <div class="form-group col-md-12">
                                    <input type="file" class="custom-file-input" id="mem_img"
                                        (change)="uploadImage($event)" required>
                                    <label class="custom-file-label" for="validatedCustomFile">{{fileNameShow}}</label>
                                    <div class="invalid-feedback">กรุณาอัปโหลดหลักฐาน</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 offset-md-5">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    ยืนยันการจอง
                                </button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                <svg width="1.0625em" height="1em" viewBox="0 0 17 16"
                                                    class="bi bi-exclamation-triangle" fill="#FBA90A"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                                                    <path
                                                        d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                                                </svg>ตรวจสอบ
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ท่านตรวจสอบความถูกต้องของข้อมูลการจองแล้ว ใช่หรือไม่?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">ยกเลิก</button>
                                            <button type="button" class="btn btn-primary" (click)="submitForm()"
                                                data-dismiss="modal">ยืนยัน</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                    </fieldset>
                </form>
            </div>
        </div><br>
        <div class="col-xl-4">
            <div>
                <div class="card mb-3">
                    <div class="card-header bg-dorm text-dorm">
                        <h5>{{bankList.dorm_name}}</h5>
                    </div>
                    <div class="card-body" style="max-width: 400px;">
                        <img src="{{API_URL_IMG + bankList.dorm_img}}" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <p class="card-text">&nbsp;&nbsp;
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="#b92323"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path fill-rule="evenodd"
                                    d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                            {{bankList.dorm_address}}
                        </p>
                    </div>
                    <p></p>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-ta text-ta">
                        ห้องพักที่ท่านเลือกจอง
                    </div>
                    <div class="card-body" style="max-width: 400px;">
                        <img src="{{API_URL_IMG + data.room_img}}" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <p class="card-text">&nbsp;&nbsp;<b class="text-cl">ห้อง</b>
                            {{data.room_num}}
                        </p>
                        <p class="card-text">&nbsp;&nbsp;<b class="text-cl">ราคา</b>
                            {{data.room_price}} บาท
                        </p>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div><br>