<div class="aUyidf">
    <div class="container">
        <div class="col-md-5 offset-md-4">
            <div class="card text">
                <div class="card-body">
                    <h4 class="text-center">ข้อมูลใบเสร็จชำระเงิน</h4>
                    <form [formGroup]="showPay">
                        <fieldset>
                            <div class="form-group">
                                <label class="form-control-plaintext" type="text">รูปใบเสร็จชำระเงิน</label>
                                <div class="text-center"><img src="\assets\image\dorm.png" class="widthimage" alt="...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-plaintext" type="text">จำนวนเงินที่ชำระ</label>
                                <input class="form-control" placeholder="" type="text" required
                                    formControlName="pay_price" disabled />
                            </div>
                            <div class="form-group">
                                <label class="form-control-plaintext" type="text">วันที่ชำระเงิน</label>
                                <input class="form-control" placeholder="" type="text" required
                                    formControlName="pay_date" disabled />
                            </div>
                            <div class="form-group">
                                <label class="form-control-plaintext" type="text">สถานะการชำระเงิน</label>
                                <input class="form-control" placeholder="" type="text" required
                                    formControlName="pay_status" disabled />
                            </div>
                            <div class="text-center">
                                <button class="btn btn-outline-success" (click)="submitForm()">ยืนยัน</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>